<nav class="navbar navbar-default mb-4" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/articles">Wikinimous</a>
  </div>
  <%= link_to "Add new article", new_article_path %>
</nav>

<div class="container">
      <ul>
        <% @articles.each do |article| %>
          <li>
            <%= link_to article.title, article_path(article) %>
            <%= article.content %>
          </li>
        <% end %>
      </ul>
</div>
